* {
  box-sizing: border-box;
  max-width: 100%;
}

body {
  font-family: "Times New Roman", serif;
  margin: 0;
  padding: 0;

  color: rgb(7, 8, 4);
  font-size: 16px;
  background: lightblue;
}

.lien a {
  color: rgb(235, 157, 187);
  text-decoration: none;
  background-color: lightgrey;
}
a:hover {
  text-decoration: underline;
  color: rgb(231, 51, 51);
  background-color: rgb(138, 236, 236);
}
a:active {
  color: rgb(44, 41, 255);
}
.container {
  display: inline-block;
  text-align: center;
  margin-left: 45%;
  font-weight: bold;
  font-size: 32px;
  color: darkblue;
}
.header {
  background-color: lightgrey;
  padding: 20px;

  font-size: 35px;
  color: darkblue;
}
.taille {
  font-size: 14px;
  text-align: left;
  padding: 10px 0;
  margin: 0;
}

.ul {
  display: flex;
  justify-content: space-around;
  list-style-type: none;
  padding: 0;
  margin: 0;
}
.article {
  display: flex;
  justify-content: space-between;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
  padding-bottom: 10px;
}
.title {
  font-size: 24px;
  font-weight: bold;
  color: darkred;
  text-align: center;
  font-size: 40px;
  font-weight: 900;
  font-style: italic;
  text-transform: uppercase;
  text-decoration: underline;
}

.tith {
  font-size: 20px;
  font-weight: bold;
  color: blue;
}

.nave {
  background-color: lightcyan;
  padding: 5px;
  margin: 0;
  border: 2px solid black;
  border-radius: 10px;
}
.table {
  width: 50%;
  border: 2px solid black;
  border-collapse: collapse;
  text-align: center;
  margin: 20px auto;
}
.thead {
  background-color: rgb(101, 96, 96);
  color: tomato;
  font-weight: bold;
  text-transform: uppercase;
}
tbody {
  border: 2px solid black;
  background-color: rgb(21, 89, 177);
  color: darkgrey;
  text-transform: capitalize;
}
td,
th {
  border: 2px solid black;
  padding: 10px;
}
input {
  width: 95%;
  padding: 8px;
  background-color: rgb(101, 96, 96);
  border: 2px solid red;
  border-radius: 5px;
  color: white;
  margin: 20px;
  margin-left: 8px;
  margin-right: 15px;
}
label {
  font-weight: bold;
  color: darkblue;
}
input:hover {
  background-color: aqua;
  border: 3px dashed greenyellow;
}
textarea {
  width: 50%;
  height: 150px;
  padding: 10px;
  font-weight: bold;
  border: 2px dashed yellow;
  border-radius: 5px;
  font-size: 16px;
  margin: 15px 30px;
  background-color: antiquewhite;
}
.boutton {
  background-color: aqua;
  color: black;
  border-radius: 5px;
  padding: 5px;
  margin-left: 25%;
}
.boutton:hover {
  border-color: rgb(86, 85, 86);
  color: aqua;
  background-color: rgb(222, 124, 184);
}
aside {
  background-color: rgb(113, 178, 198);
  border-radius: 5px;
  padding: 10px;
  border: 2px rgb(75, 96, 103);
  margin: 20px 0;
}
.liannes a {
  text-decoration: none;
  color: green;
  text-decoration: underline;
  line-height: 1.7;
}
footer {
  background-color: rgb(179, 170, 170);
  text-align: center;
  padding: 5%;
}
footer a {
  text-decoration: none;
}
@media only screen and (max-width: 768px) {
  .ul {
    line-height: 2;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 19px;
  }
  .taille {
    font-size: 16px;
    text-align: left;
    padding: 0;
    margin: 0;
  }
  .container {
    display: flex;
    text-align: center;
    justify-content: center;
    margin-left: 0;
  }
  .article {
    display: inline-block;
    width: 100%;
    justify-content: column;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    padding-bottom: 10px;
    margin: 10px;
  }
  input {
    width: 100%;
  }
  textarea {
    width: 100%;
  }
  .boutton {
    display: flex;
    text-align: center;
    justify-content: center;
    margin-left: 50%;
    padding: 0;
  }
  aside {
    width: 100%;
  }
  footer {
    width: 100%;
  }
}

